{% extends '@SecureCredentials/app.twig' %}

{% block form %}
<form class="text-center">
    <div class="form-group">
        <label for="email"><h2>Email address</h2></label>
        <input type="text" class="form-control" name="email" id="email" required>
    </div>
    <button href="#" class="btn btn-primary btn-lg btn-huge lato">Submit</button>
</form>
{% endblock %}