<div class="row">
  <div class="col-md-12">
      <div class="form-group">
        <label for="first_name">First name</label><br />
        <input type="text" name="first_name" id="first-name" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required." autofocus="autofocus">
      </div>
      <div class="form-group">
        <label for="last_name">Last name</label><br />
        <input type="text" name="last_name" id="last-name" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required.">
      </div>
      <div class="form-group">
        <label for="email">Email</label><br />
        <input type="email" name="email" id="email" class="form-control" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required.">
      </div>
  </div>
</div>