<main id="content" role="main">
    <div class="container-fluid wrap">
        <div class="page-header">
            <h1>Welcome to Secure Credentials</h1>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">Intro</div>
                    <div class="panel-body">
                        <p>Secure Credentials is a plugin developed for those looking for a secure way to share credentials with users.</p>
                        <p>Instead of sending user credentials over an unsecure medium (ie email, phone call, a text) use Secure Credentials to generate secure, unique credential retrieval pages.  Simple share this URL with your pre-selected users and they'll be able to access the records with their email address.</p>
                        <p>
                            Secure Credentials runs a job hourly to remove any expired credentials.
                            When a user attempts to retrieve a credential several checks are in place:
                            <ol>
                                <li>Ensure the credential exists,</li>
                                <li>Ensure the URL token matches the credential's token,</li>
                                <li>Ensure the credential has not expired,</li>
                                <li>Ensure the user has proper access to the credential.</li>
                            </ol>
                            If any one of these conditions fail the user is denied access to the credential.
                            </p>
                            <p>
                                <strong>TROUBLESHOOTING</strong>
                                <p>If you recently installed Secure Credentials and see 404 Errors when attempting to add your first user it is likely because you do not have <a href="/wp-admin/options-permalink.php" alt="WordPress Permalinks Settings">Permalinks</a> enabled. Secure Credentials does not work with the <u>Plain</u> permalink option.</p>
                                <p>
                                    If you are not receing access notifications ensure that you are logged in with the correct WordPress account and checking the correct email inbox. Secure Credentials notifies the email address of the user that created the credential.
                                </p>
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-success">
                    <div class="panel-heading">Credits</div>
                    <div class="panel-body">
                        Developer: Charles Bleisch<br />
                        Company: Specialized Computer Solutions
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>