<main id="content" role="main">
    <div class="container-fluid wrap">
        <div class="page-header">
            <h1>Welcome to Secure Credentials</h1>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-primary">
                    <div class="panel-heading">Intro</div>
                    <div class="panel-body">
                        <p>Secure Credentials is a plugin developed for those looking for a secure way to share credentials with users.</p>
                        <p>Instead of sending user credentials over an unsecure medium (ie email, phone call, a text) use Secure Credentials to generate secure, unique credential retrieval pages.  Simple share this URL with your pre-selected users and they'll be able to access the records with their email address.</p>
                        <p>Expiration</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-success">
                    <div class="panel-heading">Credits</div>
                    <div class="panel-body">
                        Developer: Charles Bleisch<br />
                        Company: Specialized Computer Solutions
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>