<div class="row">
  <div class="col-md-12">
    <div class="form-group">
          <label for="title">Title</label><br />
          <input type="text" name="title" id="title" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required." data-fv-autofocus="true" autofocus="autofocus">
      </div>
    <div class="form-group">
      <label for="first_name">Username</label><br />
      <input type="text" name="username" id="username" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required.">
    </div>
    <div class="form-group">
      <label for="password">Password</label><br />
      <input type="password" name="password" id="strong-password" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required.">
    </div>
    <div class="form-group">
      <label for="email">Users with Access</label><br />
      <select class="select2" name="users[]" id="users" multiple="multiple" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required.">
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="buttons">Expire After</label><br />
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="radio" name="expiration" id="1hr" value="1" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required."> 1 hr
        </label>
        <label class="btn btn-default">
          <input type="radio" name="expiration" id="12hr" value="12" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required."> 12 hrs
        </label>
        <label class="btn btn-default">
          <input type="radio" name="expiration" id="1day" value="24" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required."> 1 day
        </label>
        <label class="btn btn-default active">
          <input type="radio" name="expiration" id="1week" value="168" data-fv-notempty="true" data-fv-notempty-message="Woah there! This is required." checked> 1 week
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="">Notify Me When Accessed</label><br />
      <input type="checkbox" name="notify_when_accessed" value="1" />
    </div>
    </div>
</div>